.idea/
.venv/
src/__pycache__/
src/api/__pycache__/
src/schemas/__pycache__/
src/models/__pycache__/
src/migrations/__pycache__/
src/migrations/versions/__pycache__/
*.pyc
__pycache__/
.env
backend_kurs.iml